body {
    background-color: PaleTurquoise;
}

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
}

li {
    float: center;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
</style>
