body {
    background-color: AliceBlue;
}

ul {
    list-style-type: none;
    width:950px;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #87CEEB;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    width:150px;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    color: SteelBlue;
} 

p {
    font-size: 100%;
}

.container {
   padding: 15px;
}
